.b-footer {
    background-color: var(--cPrimary);
    color: white;
    padding: 35px 0 55px;
    &__cnt {
        justify-content: space-between;
        &.cnt{ max-width: 1350px; }
    }
    &__col {}
    &__col_4 {
        width: 22%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__title-col {
        margin-bottom: 1.2em;
        h6{
            color: inherit;
        }
    }
    &__data-col {
        opacity: 0.5;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    .b-social {
    }
}