
.b-feedback{
    padding: 75px 0;
    &__slider{
        margin-top: 50px;
        width: 100%;
        // flex: 100% 0 0;
        display: flex;
        justify-content: space-between;
    }
}



.b-feedback-item {
    width: 370px;
    border: 1px solid #E2E4EA;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 30px 15px 20px 30px;
    
    &__header {
        display: flex;
    }
    &__img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 15px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            margin: -3px 0;
        }
        .name{
            font-size: 1.12em;
        }
        .status{
            color: var(--cSecondary);
            font-size: 0.8em;
        }
    }
    &__body {
        font-size: 0.9em;
        margin-top: 12px;
        p {
        }
    }
    &__footer {
        margin-top: 35px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &__read {
        font-size: 0.75em;
        text-transform: uppercase;
        letter-spacing: 0.045em;
        width: 100%;
        margin-bottom: 7px;
        a {
            color: inherit;
            text-decoration: none;
        }
    }
    
    &__mark {
        margin-right: 15px;
    }
    &__company {
        font-size: 0.75em;
        color: var(--cPrimary);
        opacity: 0.4;
        font-weight: 500;
        p {
        }
    }
}


