.b-hero {
    position: relative;
    padding-top: 100px;
    padding-bottom: 165px;
    background-image: url(img/b-hero-bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    &__header {
        width: 100%;
        position: absolute;
        top: 0;
        color: white;
        a{
            text-decoration: none;
            color: inherit;
        }
    }
    &__header-cnt {
        justify-content: space-between;
        align-items: center;
        padding: 25px 0px 10px;
    }
    
    &__logo {
    }
    
    &__contacts {
        font-size: 1.12em;
        a{
            margin-left: 35px;
        }
        .icon_email{}
        .icon_phone{}
    }
    &__body {
        padding: 100px 0;
        
    }
    .cnt {
        p {
        }
    }
    h1 {
        color: inherit;
    }
    &__acts{
        margin-top: 50px;
        .btn{
            margin-right: 1em;
        }
        .btn_trans{
            padding: 1em 2em;
        }
    }
    &__footer {
        position: absolute;
        bottom: 0;
    }
    &__nav {
        width: 100%;
        font-weight: 700;
        font-size: 1.12em;
        padding: 25px 0;
        ul {
            width: 100%;
            list-style: none;
            display: flex;
            justify-content: space-between;
        }
        li {}
        a {
            text-decoration: none;
            color: inherit;
        }
    }
    
    &__social {
        padding: 30px 0;
        border-top: solid 1px rgba(255, 255, 255, 0.2);
    }
    .b-social {
    }
}