.b-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.87em;
    color: white;
    padding: 0 20px;

    // @media (max-width: 860px){
    //     position: fixed;
    //     top: 59px;
    //     left: 0;
    //     height: calc( 100vh - 105px );
    //     width: 100%;
    //     min-width: 320px;
    //     max-width: 400px;
    //     justify-content: flex-start;
    //     padding-top: 30px;
    //     transition: 350ms ease-in-out;
    //     z-index: 10;
    //   }

    &__list{
        list-style: none;
        display: flex;
        align-items: stretch;
        padding: 0 0px;
        position: relative;

        
        flex-wrap: wrap;
        
    }
    &__item{
        height: 100%;
        display: flex;
        align-items: stretch;
        position: relative;
        transition: 350ms ease-in;
        padding: 7px 20px;
        white-space: nowrap;
        &:hover, &.is-active{
            a{
                
                // padding-top: 4px;
                &:before{
                    width: 100%;
                }
            }
        }
        &.is-hidden{
            // position: absolute;
            // width: 100%;
            // margin-left: auto;
            // background-color: grey;


            // display: none;
        }

        
    }
    &__link{
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
        transition: inherit;
        position: relative;

        &:before{
            content: '';
            height: 4px;
            width: 0;
            transition: inherit;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        @media (max-width: 860px){
            padding-bottom: 7px;
            // height: auto;
        }
    }
}