
.btn{
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    // padding: 1.55em 1.7em 1.45em;
    // padding: 0.55em 1.5em;
    padding: 1em 2.5em;
    color: white;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    // text-transform: uppercase;
    
    // @media (max-width: $tabWidth){
    //     font-size: 0.9em;
    // }
    
    &_menu{
        padding: 0;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        i{
            font-size: 0.95em;
            margin-right: 1.5em;
        }
    }
    &_red, &_secondary{
        background-color: var(--cSecondary);
        border: solid 1px var(--cSecondary);
        
        
        transition: 350ms ease-in-out;
        &:hover{
            
        }
    }
    &_prim{
        background-color: var(--cPrimary);
        border: solid 1px var(--cPrimary);
        transition: 350ms ease-in-out;
        &:hover{
            
        }
    }
    &_trans{
        border: solid 1px currentColor;
    }


    &_play{
        padding: 0;
        font-size: 3.5em;
    }

    &_close{
        // 
        // display: block;
            // position: absolute;
            // flex-shrink: 0;
            // flex-grow: 0;
            padding: 0;  
            width: 30px;
            height: 30px;
            background-color: currentColor;
            @include mask-rep(no-repeat);
            @include mask-pos( center);
            @include mask-size(contain);
            @include mask('../img/ui/close_window.svg');
            transition: 250ms ease-in;
            &:hover{
                transform: scale(1.1);
            }
    }
    
    
    &_huge{
        padding: 2.25em 4em;
    }
    &_huge-2{
        padding: 2em 2.3em;
    }

}





// .Прямоугольник_1_копия_4 {
    
//     position: absolute;
//     left: 240px;
//     top: 569px;
//     width: 365px;
//     height: 90px;
//     z-index: 125;
//   }
  