*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Montserrat';
}
body{
    padding-top: 80px;
    width: 100vw;
    // overflow-x: hidden;
    // font-family: 'Proxima Nova';
    font-size: 16px;
    // padding-top: 79px;
    // @media (max-width: 1450px){
    //     width: 1450px;
    //     >.row{
    //         overflow: hidden;
    //     }
    // }pt79    
    // @media (max-width: 860px){
    //     padding-top: 50px;
    //     padding-bottom: 50px;
    // }
}